@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
hr{
   margin-top: 10px;
   /* margin-bottom: 30px; */
}
h2{
   font-size: 30px;
}
.AdPage-container{
   max-width: 100vw;
   overflow: hidden;
   font-family: 'Poppins', sans-serif;

}
.AdPage-container-breadChumb{
   font-size: 15px;
   margin-top: 20px;
}
.AdPage-container-breadChumb-link{
   display: inline-block;
   margin: 0 5px;
   text-decoration: underline;
   color: #444;
   font-weight: bold;
}
.AdPage-container-breadChumb-link:hover{
   color: #999;
}
.AdPage-container-area{
   display: flex;
   justify-content: center;
   justify-content: center;
   flex-wrap: wrap;
   width: 90vw;
   margin: auto;
   color: #444;
}

/* ------------------- LEFT-SIDE -------------- */

.AdPage-container-area-left-side{
   flex: 1;
   max-width: 60vw;
   
}
.AdPage-container-area-left-side-box{
   display: flex;
   background-color: #FFF;
   border-radius: 5px;
   box-shadow: 0px 0px 3px #999;
   margin: 20px;
   min-width: 500px;
   flex-wrap: wrap;
   word-wrap: break-word;
}
.AdPage-container-area-left-side-box-image{
   width: 350px;
   height: auto;
   margin-right: 20px;
   margin: auto;
}
.AdPage-container-area-left-side-box-image-slide {
   margin: auto;
}
.AdPage-container-area-left-side-box-image-slide img{
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover;
   height: 350px;
}
.AdPage-container-area-left-side-box-info{
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   min-width: 190px;
   margin-bottom: 20px;
}
#date{
   color: #999;
   font-size: 12px;
   margin-top: 20px;
}
#views{
   color: #999;
   font-size: 12px;
   text-align: center;
   word-wrap: break-word;

}
.AdPage-container-area-left-side-box-info-name{
   margin: auto;
}
.AdPage-container-area-left-side-box-info-desc{
   padding: 5px;
   text-align: left;
}
.sub-desc{
   display: flex;
   flex-direction: column;
   position: absolute;
   font-size: 13px;
   text-align: left;

}

/* ------------------- RIGHT-SIDE -------------- */

.AdPage-container-area-right-side{
   width: 35%;
   margin: 20px;
   /* background-color: blue; */
}
.AdPage-container-area-right-side-box{
   background-color: #FFF;
   border-radius: 5px;
   box-shadow: 0px 0px 3px #999;
   margin: 20px;
   padding: 20px;
   text-align: left;
}
.AdPage-container-area-right-side-box-price{
   font-size: 20px;
   font-weight: bold;
   color: #444;
}
.AdPage-container-area-right-side-box-price span{
   display: block;
   color: #FF4400;
   font-size: 25px;
   font-weight: bold;
}
.AdPage-container-area-right-side-contact{
   background-color: #FFF;
   border-radius: 5px;
   padding: 20px;
   text-align: left;
}
.right-side-contact-button{
   background-color: #FF4400;
   color: #FFF;
   width: 100%;
   height: 30px;
   border-radius: 5px;
   box-shadow: 1px 1px 3px #461301;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   text-decoration: none;
   margin-bottom: 20px;
   padding: 10px 0px;
}
.AdPage-container-area-right-side-contact-box{
   background-color: #FFF;
   border-radius: 5px;
   box-shadow: 0px 0px 3px #999;
   /* margin: 20px; */
   padding: 20px;
   text-align: left;
}
.AdPage-container-area-others{
   width: 80%;
   margin: auto;
   text-align: left;
   color: #444;
}
.AdPage-container-area-others-list{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 100%;
   text-align: center;
   background-color: #fff;
   border-radius: 5px;
}