.header{
   background-color: #fff;
   height:15vh;
   border-bottom: 1px solid #CCC;
}
.container{
   max-width: 1000px;
   margin: auto;
   display: flex;
   /* justify-content: center; */
   align-items: center;
}
.link{
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 45px;
   text-transform: uppercase;
   font-weight: bolder;
   
}
.logo{
   width: 300px;
   
}
.logo-img{
   background-image: url("../../images/logo.png");
   background-repeat: no-repeat;
   background-size: cover;
   margin: 10px;
   width: 70px;
   height: 70px;
}
.logo-text1{
   color: red;
   padding-top: 10px;
}
.logo-text2{
   color: green;
   padding-bottom: 15px;
}
.logo-text3{
   color: blue;
   padding-top: 5px;
}