.home-container{
   background-color: #f2f2f2;
  
}
.search-area{
   background-color: #DDD;
   border-bottom: 1px solid #999;
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.search-box{
   width: 70%;
   background-color: #9bb83c;
   padding: 20px 15px;
   border-radius: 5px;
   box-shadow: 1px 1px 1px 0.3px rgba(0,0,0,0.3);
   display: flex;
   justify-content: center;
   align-items: center;
}
.search-form{
   flex:1;
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.search-form input{
   flex: 1;
   padding: 0 10px;
   height: 40px;
   border: none;
   border-radius: 5px;
   outline: none;
   font-size: 18px;
   color: #111;
   margin-right: 20px;
}
input:focus{
   outline: none;
   border: 1px solid #999;
}
.search-states{
   width: 5rem; 
   height: 40px;
   border: 0;
   border-radius: 5px;
   outline: 0;
   font-size: 18px;
   color: #111;
   margin-right: 20px;
   margin-top: 10px;
}
.search-button{
   background-color: #49AEEF;
   font-size: 20px;
   font-weight: bold;
   border:none;
   border-radius: 5px;
   color: #444;
   width: 10rem;
   height: 2.5rem;
   padding: 0 20px;
   cursor: pointer;
   color: #FFF;
}
.search-button:hover{
   background-color: #1e7eb9;
}
.category-list{
   display: flex;
   flex-wrap: wrap;
   /* justify-content: center; */
   margin-top: 20px;
   width: 75%;
}
.category-item{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 25%;
   text-decoration: none;
   margin-bottom: 20px;
}
.category-item img{
   width: 45px;
   height: 45px;
}
.text-category{
   color: #111;
}
.text-category:hover{
   color: #999;
}
#Ad-title{
   font-size: 20px;
   color: #444;
}
.ad-container{
   width: 80%;
   margin: auto;
   text-align: left;
   
}
.ad-list{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: 100%;
   text-align: center;
   background-color: #fff;
   border-radius: 5px;
}
.ad-container-link{
   text-decoration: none;
   text-align: left;
   font-weight: bold;
   color: #444;
}
.ad-container-link:hover{
   color: #777;
}
.ad-container-text{
   text-align: left;
   text-indent: 40px;
   margin: 50px 0px;
}
